@inherits LayoutComponentBase

<PageTitle>Monitor.Blazor</PageTitle>

<MudThemeProvider/>
@*<MudPopoverProvider/>*@
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4"> *@
        @* background-color: #3b434c; *@
        <div style="background: linear-gradient(to right, #4b4f53, #3f4348);  height: 100px; justify-content: flex-start; padding: 0; margin: 0;">
            <img src="ranner_logo.png" alt="Ranner Logo" style="padding: 0; margin: 0;  height:98px; padding-left: 0 !important; margin-left: 0 !important;" />
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>
        
        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
